* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%; 
  /* needed if the content is dynamic */
  /* height: 100%; */

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(fonts/ProximaNova-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(fonts/ProximaNova-Semibold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Big Caslon";
  src: url(fonts/BigCaslon-Medium.ttf) format("truetype");
}

#affinity {
  width: 120px;
}

#header {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  z-index: 10;

  /* position: absolute;
  top: 0; */

  height: 100px;
  width: 100%;
  padding: 30px 4vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content {
  flex: 1 0 auto;

  /* height: min(135vw, 2500px); */
  /* margin-top: 100px; */

  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  flex-shrink: 0;
  background-color: #EDE6F3;

  width: 100%;
  height: 150px;
  padding: 30px 4vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .subtitle {
  margin: 0 10px;
  color: black;
}

#footer .subtitle:hover {
  opacity: 0.6;
}

#footer .row {
  align-items: baseline;
}

#demo {
  width: 100%;
  max-width: 700px;
}

#closeup {
  width: 100%;
  max-width: 400px;
  max-height: 45vw;
}

#features {
  width: 100%;
  max-width: 500px;
  max-height: 50vw;
}

#icon {
  width: min(4vw, 50px);
}

#mc_embed_signup_scroll {
  display: flex;
  margin-top: 10px;
}

#mce-EMAIL {
  padding: 8px 10px;
  width: 270px;

  font-family: "Proxima Nova", sans-serif;
  font-size: min(1.4vw, 20px);
  opacity: 0.7;

  border: 1px #bababa solid;
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

#mc-embedded-subscribe {
  height: 100%;
  padding: 0 18px;

  color: white;
  font-size: 21px;
  line-height: 16px;

  background-color: #6a3a91;
  border: none;
  border-radius: 0 4px 4px 0;
}

.row {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.col {
  display: flex;
  flex-direction: column;
}

.med {
  max-width: min(36vw, 555px);
}

.wide {
  max-width: min(40vw, 575px);
}

.title {
  font-family: "Big Caslon", serif;
  font-size: min(2.5vw, 36px);
  line-height: min(4vw, 56px);
  white-space: pre-line;

  margin-bottom: 10px;
}

.subtitle {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  letter-spacing: 0.13em;
  font-size: min(1.1vw, 16px);
  text-transform: uppercase;
}

.description {
  font-family: "Proxima Nova", sans-serif;
  font-size: min(1.4vw, 20px);
  line-height: min(2.5vw, 36px);
  color: #626262;
}

.purple {
  background-color: #6a3a91;
  padding: 10px 25px;
  border-radius: 5px;

  font-size: 14px;
  color: white;
  text-transform: uppercase;

  font-family: "Proxima Nova", sans-serif;
  letter-spacing: 0.13em;
}

.section-1 {
  padding: 8%;
  padding-right: 3%;

  align-items: center;
}

.section-2 {
  width: min(100vw, 1555px);
  padding: 8%;
  justify-content: space-between;
}
